GITHUB_BUILDER_CLIENTID=
GITHUB_BUILDER_SECRET=
GITHUB_CLI_CLIENTID=
GITHUB_CLI_SECRET=
GITHUB_GUI_CLIENTID=
GITHUB_GUI_SECRET=
NGROK_HOSTNAME=
NGROK_AUTH=
BETA_ACCESS_USERNAME=
BETA_ACCESS_TOKEN=
SYSTEM_GITHUB_ORG=
#optional for onprem : format : https://github_enterprise_host/
GITHUB_ENTERPRISE_HOST=
